/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/mvnw.cmd
/mvnw
/.mvn/
/springboot2-task/.mvn/
/springboot2-task/mvnw
/springboot2-task/mvnw.cmd
/springboot2-validation/.mvn/
/springboot2-validation/mvnw.cmd
/springboot2-validation/mvnw
/springboot2-swagger/.mvn/
/springboot2-swagger/mvnw
/springboot2-swagger/mvnw.cmd
/springboot2-mybatis/.mvn/
/springboot2-mybatis/mvnw
/springboot2-mybatis/mvnw.cmd
/springboot2-async/mvnw.cmd
/springboot2-async/mvnw
/springboot2-hikaricp/.mvn/
/springboot2-hikaricp/mvnw.cmd
/springboot2-hikaricp/mvnw
/springboot2-mybatis-plus/.mvn/
/springboot2-mybatis-plus/mvnw
/springboot2-mybatis-plus/mvnw.cmd
/springboot2-value/target/
/xxl-job/target
