<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myz.springboot2.mybatisplus34.mapper.UserMapper">

    <insert id="insertBatch" parameterType="com.myz.springboot2.mybatisplus34.entity.UserEntity">
        INSERT INTO user (age, email, tenant_id, company_id, created_by
        , created_time, last_modified_by, last_modified_time)
        VALUES
        <foreach collection="entityList" item="item" separator=",">
            (#{item.age},
            #{item.email},
            #{item.tenantId},
            #{item.companyId},
            #{item.createdBy},
            #{item.createdTime},
            #{item.lastModifiedBy},
            #{item.lastModifiedTime}
            )
        </foreach>
    </insert>
</mapper>
